@media screen and (max-width: 830px) {
  .content__title > h1{
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 630px) {
  .content__title > h1{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 490px) {
  .content__title > h1{
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 300px) {
  .content__title > h1{
    font-size: 1.2rem;
  }
}
